* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    /* --aside_with: 16rem; */
    --aside_with: 12.5rem;
    --padding_Prueba: 1rem;
    --alto_head: 60px;




    --br--100: 0.35rem;
    --font-weight-bold: 700;
    --bg-100: #ffffff;
    --bg-200: #F6F6F6;
    --bg-300: #F3F3F4;
    --primary-100: #232323;
    --primary-100-hover: #383838;
    --fc-100: #A7A7A7;
    --fc-100-hover: #F7F7F7;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}

.Principal__Aside {
    background-color: var(--primary-100);

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* background-color: orange; */
    overflow: hidden;
}

.Principal__Aside__Container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--alto_head) 1fr;
    /* padding: 1rem; */
    /* background-color: blue; */
    overflow: hidden;

    header {
        display: grid;
        --header-padding: 0.2rem;
        grid-template-columns: calc(var(--alto_head) - var(--header-padding)) 1fr;
        padding: var(--header-padding) var(--padding_Prueba);

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {
                width: 100%;

                /* height: 100%; */
                object-fit: fill;
                aspect-ratio: 1/1;
            }
        }
    }

    >section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

}

.Principal__Container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: var(--aside_with) 1fr;
    background-color: red;
    padding: var(--padding_Prueba);
    transition: grid-template-columns 0.1s ease-in-out;
}

.Principal__Main {
    display: grid;
    grid-template-rows: var(--alto_head) 1fr;

    .Principal__Header {
        /* background-color: #ffffff; */
        background-color: var(--bg-100);
        /* background-color: red; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(5, 6, 15, .1);
        padding: 0 0.5rem;

        >div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                width: 3rem;
                aspect-ratio: 1 / 1;
                border-radius: 1.5rem;
            }
        }

        >:is(span) {
            display: flex;
            height: 80%;
            aspect-ratio: 1/1;
            justify-content: center;
            align-items: center;
            /* font-size: 37px; */
            font-size: calc(var(--alto_head) - 2.5rem);
            padding: 1rem 1rem;
            border-radius: 50%;
        }

        >:is(span):hover {
            background-color: var(--bg-300);
            cursor: pointer;

        }

    }

    .Principal__Article {
        background-color: var(--bg-200);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}




.Aside_Button_Hide {
    display: none;

}

.Modificacion_Aside {
    display: none;
    width: 0;
}



@media (width < 720px) {
    .Principal__Container {
        --aside_with: 7rem;
    }
}

@Media(width < 480px) {
    .Principal__Container {
        /* --aside_with:0rem; */
        grid-template-columns: 1fr;
    }

    .Aside_Button_Hide {
        /* display: block; */
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        align-items: center;
    }

    .Principal__Aside {
        display: none;
    }

    .Modificacion_Aside {
        display: initial;
        width: initial;
    }

    .Show_aside {
        display: block;
        position: absolute;
        width: 16rem;
        height: calc(100% - calc(var(--padding_Prueba)*2));
    }
}

.ToggleContainer {
    grid-template-columns: 1fr;

}