.headerLogo_Menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.09), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.09), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.011), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: var(--br--100);
    opacity: 0;
    padding: 75px 0.35rem 0;
    /* transition: height 0.5s, width 0.5s, opacity 0.5s, z-index 0.5s; */
    transition: opacity 0.3s, z-index 0.3s;
    /* animation: scale-down-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.Menu_Lista {
    min-height: 0;
    max-width: 300px;
    min-width: 280px;
    position: relative;
    right: 2%;
    /* top: 10%; */
    background-color: var(--bg-100);
    /* box-shadow: rgba(58, 53, 65, 0.2) 0px 5px 5px -3px, rgba(58, 53, 65, 0.14) 0px 8px 10px 1px, rgba(58, 53, 65, 0.12) 0px 3px 14px 2px; */
    box-shadow: 0px 0px 9px 1px rgb(51 51 51 / 1);
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
}

.item_info {
    /* background-color: #DDDDDD; */
    border-bottom: 1px solid;
    display: flex;
}
.item_infoImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.iconoUsuario {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
}

.item_infoText_primaria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.item_infoText_secundaria {
    padding: 20px 10px;
}
.item_opc {
    overflow: auto;
    /* padding: 20px 10px; */
    height: 8rem;
}

.item_button {
    padding: 0.5rem 0;
}

.mostrar {
    z-index: 12323;
    opacity: 1;
    /* animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}
.camposKey {
    font-weight: var(--font-weight-bold);
    font-size: 0.8rem;
}
.camposValue {
    /* margin-left: 20px; */
    font-size: 0.8rem;
}
.navLinksItems_item_opc {
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
}
.navLinksItems_A_icons_item_opc {
    padding: 0 0.2rem;
}
.navLinksItems_A_Letter_item_opc {
    font-weight: 600;
    text-decoration: none;
    color: var(--body-color);
}
.item_button {
    padding: 0.5rem 0;
}

.item_button_button {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f5f7fa;
    border: none;
    padding: 0.625rem 1.5rem;
    border: 1px solid #e3e6ed;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--redonde-botones);
}
.item_button_button:hover {
    background-color: #E3E6ED;
}