*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root{

    /* --color-secondary-1: #CECDD0; */
    --time-transition-labels: 150ms;
    --text-300: #1D2D36;
    --secondary-100: #F0F0F0;
    --iconSearch__width: 55px;
    --pd-sections-form: 2rem;
    /* --bg-primary-100:#5398BE;
    --bg-primary-100-hover: #4782A2; */
    /*
    claro: #64A2DC
    normal:#5398BE
    oscuro: #4782A2
    */
    /* #4782A2; */
    /* #804BDF 
    #9155FD*/

}
html {
    height: 100%;
    overflow: hidden;
   
}

body {
    /* font-size: 1.2rem; */
    height: 100%;
    overflow: hidden;
    padding: 10px;
    background-color: var(--bg-100);
}
.body__Container{
    width: 100%;
    background-color: #f4f5fa;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.Container__Login{
    background-color: white;
    width: 450px;
    height: 600px;
    margin: auto;
    border-radius: 0.8rem;
    border: none;
    padding: 1rem;
        box-shadow: 0px 0px 10px 0px rgb(33 33 33/ 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

}
/* ingresar estos estilos como modificadores */
::-ms-reveal {
    display: none;
    
}
.Button__Hide{
    height: calc(100% - 1rem);
    width: var(--iconSearch__width);
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.Button__Hide>i{
    margin: auto;
    pointer-events: none;

}
.Form__Password__Input{
    width: 100%;
    border: 1px solid var(--color-secondary-1);
    border-radius: 0.8rem;
    padding: 1rem var(--iconSearch__width) 1rem 20px;
    font-size: 1rem;

}

/* en las inputs */

.Container__Login__Header {
    /* font-size: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem 0;
    padding-bottom: 1rem;
}
.Container__Login__Header>h5{
    font-size: 1rem;
    font-weight: 600;
    color: #534F5A;
    padding: 0 2rem;

}
.Container__Login__Header__Div{
display: flex;    
justify-content: center;
align-items: center;
width: 100%;
gap: 0 0.75rem;
}
.Container__Login__Header__Div>h6{
    font-size: 1.5rem;
    font-weight: 600;
    color:#534F5A ;
    

}
.Container__Login__Header__Div__Img{
width:50px;
aspect-ratio: 1/1;
}
.Container__Login__Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem 0;
    height: fit-content;
    padding: 0 var(--pd-sections-form);
    width: 100%;

}

.Container__Login__Footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem var(--pd-sections-form);
    width: 100%;
}
.Container__Login__Footer > button{
    font-size: 0.9375rem;
    padding: 0.8rem 1.625rem;
    background-color: var(--bg-primary-100);
    box-shadow: 0px 6px 18px -8px rgba(58, 53, 65, 0.56);
    width: 100%;
    border-radius: 5px;
    letter-spacing: 1.71px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
}
.Container__Login__Footer>button:hover{
    background-color: var(--bg-primary-100-hover);
}
.contenedor_Opciones {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.btn_titulo {
    /* padding: 10px; */
    background-color: #eaeaea;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    text-decoration: none;
    /* height: 80%; */
    cursor: pointer;
    color: rgb(33 33 33 / 1);
}
.btn_titulo:hover{
    background-color: #CDCDCD;
}
.Container__Login__Div{
    height: 0;
    width: calc(100% - calc(var(--pd-sections-form) * 2));
    border: 1px solid rgb(33 33 33 / 0.1);
    /* background-color: rgb(33 33 33 / 0.1); */
    position: relative;
    display: flex;
    /* text-align: center; */
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
}
.Container__Login__Div > span {    
    position: absolute;
    font-size: 1rem;
    top: -0.9rem;
    background-color: #fff;
    padding: 0 1rem;
}