fieldset {
    border: none;
    /*padding-top: 1rem;*/
}

    fieldset > legend {
        color: var(--text-300);
        font-weight: 500;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
/* layout de dos columnas en el form */
.Form__Columns {
    display: grid;
    gap: 0 2%;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    /* 16rem 21rem*/
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 21rem), 1fr));
    width: 100%;
}
/* layuot de dos subcolumnas */
.Form__SubColumns {
    display: grid;
    /* filas columnas */
    gap: 0 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 14.5rem), 1fr));
    width: 100%;
}
.Form__SubColumns_imagen{
    display: grid;
    /* filas columnas */
    gap: 0 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 14.5rem), 1fr));
    width: 100%;
}