@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");



:root{
    --ancho-aside: 16rem;
    --header-height:65px;
    --oscuro--oscuro:#0C0C0C;
    --oscuro--claro:#333333;
    --primary-100:#2E86AB;
    --primary-200:#67b6dd;
    --primary-300:#d0ffff;
    --accent-100:#F4A261;
    --accent-200:#894705;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F3F3F4;
    --bg-200:#ffffff;
    --bg-300:#c0c0c1;
    --gg-400:#F4F5FA;
    --br--100:0.35rem;
    --font-weight-bold: 700;
    --width-aside--tablet: 6rem;
    --width--aside--desktop:14rem;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Montserrat; */
    /* font-family:-apple-system; */
    font-family:  "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    /* font-size: 1.2rem; */
    height: 100%;
    overflow: hidden;
    padding: 10px; 
    background-color: var(--bg-200);
  
  }
  li{
    text-decoration: none;
    list-style:none;
}
a{
    text-decoration: none;
    color: var(--oscuro--claro);
}
a:active, a:active * { outline: none !important; }
a:focus, a:focus * { outline: none !important; }
.no-seleccionable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}.mainContainer {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;


}

/* nav styles */
.mainContainer__Nav {
    width: 14rem;
    height: 100%;
    /* background-color: #414b57; */

}

.Nav__Header {
    /* background-color: red; */
    height: var(--header-height);
    width: 100%;
    display: flex;
}

.Nav__Header__ImageContainer {
    width: 35%;
    height: 100%;
    /* background-color: var(--oscuro--claro); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.Nav__Header__ImageContainer__Img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.Nav__Header__TitleContainer {
    width: 100%;
    /* background-color: aquamarine; */
    padding: 0.25rem 1.5rem;
}

.Nav__Header__TitleContainer__Title {

    width: 100%;
    height: 100%;
    text-wrap: pretty;
    vertical-align: middle;
}

.Nav__Main {

    color: var(--oscuro--claro);
    width: 100%;
    height: calc(100% - var(--header-height));
    border-right: 1px solid var(--oscuro--claro);
}

.Nav__Main__Section {
    width: 100%;
    padding: 3px;

}

.Section__Menu {
    width: 100%;
    /* background-color: red; */

}

.Menu__Item {
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    /* padding: 1rem 0.5rem; */
    display: flex;
    flex-direction: column;
}

.Menu__Item:hover {
    background-color: var(--bg-100);


    color: var(--oscuro--oscuro);
    border-radius: 0.3rem;
}

/* .dropdown:has() */
.Menu__Item:hover:has(> .seleccionando) {

    background-color: transparent;

    /* styles for div elements that have the class "myClass" */
}

.seleccionando2 {
    background-color: var(--bg-200);
}

.Menu__Item__Title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: var(--br--100);
    /* gap: 20%; */
    pointer-events: none;
}

.Menu__Item__Title:hover {
    color: var(--oscuro--oscuro);
    background-color: var(--bg-100);

}

.Menu__Item__Title__sub {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    /* Start at 0 degrees*/
    transition: transform 0.5s ease;
}

/* .fa-rotate-90 */


.seleccionando {
    background-color: var(--primary-200);

}

.seleccionando:hover {
    background-color: var(--primary-200);
}
.Menu__Item__Submenu {
    background-color: var(--bg-100);
    border-radius: var(--br--100);
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    padding: 0 0.35rem;
    transition: grid-template-rows 0.5s;
}


.Menu__Item__Submenu.open{
    grid-template-rows: 1fr;
}


  @keyframes animation-fade-out{
    0% {
        grid-template-rows: 0fr;
      display: none;
    }

    100% {
       
      /* height: 100%; */
      display: grid;
      grid-template-rows: 1fr;
    }
  }
  @keyframes animation-fade-in{
    0% {
        /* height: 100%; */
        height: 320px;
        display: flex;
    }
    100% {
      
      height: 0;
      display: none;
    }
  }





/* .open{
            display: flex;
            flex-direction: column;
            height: fit-content;
            margin-top: 0.5rem;
            padding: 1rem 0.5rem;
   
        } */
  
@keyframes mostrarElemento {
    from{
        display: none;
        height: 0px;
    }
    to {
        opacity: 1;
        display: flex;
        height: 320px;
        /* height: 100%; */
    }

}
@keyframes ocultarElemento {
    from{
        height: 320px;
         /* height: 100%; */
        /* height: 100%; */
        display: flex;
      
    }
    to {
        opacity: 0;
        height: 0px;
        display: none;
        
    }

}



.Submenu__Header {
    padding: 0.7rem 0.35rem;

}

.Submenu__Item {
    /* padding: 0.7rem 0.35rem; */
    display: flex;
    border-radius: var(--br--100);
    margin-bottom: 0.35rem;
}

.Submenu__Item:hover {
    background-color: var(--bg-200);

    /* color: red; */
}

.Submenu__Item__a {
    padding: 0.7rem 0.35rem;
    width: 100%;
    display: flex;
    gap: 1rem;

}

.c_rotateIcon {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: rotateIcon ; */
    /* animation: rotateIcon 0.5s ease; */
    transform: rotate(90deg);
    /* Start at 0 degrees*/
    transition: transform 0.5s ease;

}

@keyframes rotateIcon {
    100% {
        transform: rotate(90deg);
    }

    /* 0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(90deg);
            } */
}

@keyframes fade-out {
    100% {
        opacity: 0;
        display: none;
    }
}




  /*end nav styles*/

  .toggleIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
  }
/* stylos del section */

  .mainContainer__Section{
      width: 100%;
      height: 100%;
      /* background-color: burlywood; */
  }


  .mainContainer__Section__Header{
      width: 100%;
      height: var(--header-height);
      /* background-color: #414b57; */
      background-color: var(--primary-100);
      display: flex;
      justify-content: space-between;
  }
  .Header__Container__Img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconoUsuario{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
  }
  
  
  .mainContainer__Section__SubPage{
      /* background-color: rgb(255, 255, 255); */
      width: 100%;
      height: calc(100% - 60px);
  }
/* original
  .headerLogo_Menu{
    display: none;
    border-radius: var(--redondeo);
    right: 2%;
    top: 10%;
    width: 45%;
    position: absolute;
    max-width: 300px;
    min-width: 280px;
    background-color: var(--blanco);
    color: var(--body-color);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.09), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.09), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.011), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
} */
.headerLogo_Menu{
    display: none;
    border-radius: var(--redondeo);
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* max-width: 300px;
    min-width: 280px; */
    background-color:rgb(51 51 51 / 0.5); 
    /* var(--blanco); */
    color: var(--body-color);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.09), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.09), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.011), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.headerLogo_Menu::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    background-color: var(--blanco);
    /* background-color: red; */
    z-index: -1;
    right: 1.6rem;
    top: -0.75rem;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0 0 1px;
}
/* original
.Menu_Lista {

    padding: 10px;
    display: flex;
    flex-direction: column;
} */
.Menu_Lista {

    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 280px;
    position: relative;
    right: 2%;
    top: 10%;
    background-color: var(--bg-100);
}
.item_info {
    /* background-color: #DDDDDD; */
    border-bottom: 1px solid;
    display: flex;
}

.item_infoImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.item_infoText_primaria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.item_infoText_secundaria {
    padding: 20px 10px;
}

.camposKey {
    font-weight: var(--font-weight-bold);
    font-size: 0.8rem;
}
.camposValue {
    /* margin-left: 20px; */
    font-size: 0.8rem;
}


.item_opc {
    overflow: auto;
    /* padding: 20px 10px; */
    height: 8rem;
}
.navLinksItems_item_opc {
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
}
.navLinksItems_A_icons_item_opc {
    padding: 0 0.2rem;
}
.navLinksItems_A_Letter_item_opc {
    font-weight: 600;
    text-decoration: none;
    color: var(--body-color);
}

.item_button {
    padding: 0.5rem 0;
}
.item_button_button {
    background-color: #f5f7fa;
    border: none;
    padding: 0.625rem 1.5rem;
    border: 1px solid #e3e6ed;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--redonde-botones);
}
.item_button_button:hover {
    background-color: #E3E6ED;
}   

/* original */
/* .mostrar{
    display: block;
    transform-origin: 50% top;
    transition-property: opacity, transform;
    transition-duration: 270ms;
    transition-timing-function: ease;
} */

.mostrar{
    display: flex;
    transform-origin: 50% top;
    transition-property: opacity, transform;
    transition-duration: 270ms;
    transition-timing-function: ease;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.aside__Hiden{
    display: none;
    
}



@media ( width < 720px) {
    .mainContainer__Nav{
        width: var(--width-aside--tablet);
    }
 
    .Menu__Item__Title__sub {
        display: none;
    }
    .Menu__Item__Title {
        flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.85rem;

    }
    .Nav__Header__TitleContainer{
        display: none;
    }
    .Nav__Header__ImageContainer{
        width: 100%;
    }
    .Nav__Header__ImageContainer__Img{
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        padding: 0.5rem;
    }


    .Menu__Item__Submenu{
        width: var(--width--aside--desktop);
        position: absolute;
        transform: translate(calc(var(--width-aside--tablet) + 0.5rem), -0.5rem);
    }
    .Menu__Item {
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
        /* padding: 1rem 0.5rem; */
        display: flex;
        flex-direction: column;
        position: relative;
    }



}