@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700");


:root{
    --ancho-aside: 16rem;
    --header-height:65px;
    --width-aside--tablet: 6rem;
    --width--aside--desktop:16rem;
    --br--100:0.35rem;
    --font-weight-bold: 700;
   
    --bg-100:#ffffff;
    --bg-200: #F6F6F6;
    --bg-300:#F3F3F4;
    --primary-100 : #232323;
    --primary-100-hover: #383838;
    --fc-100: #A7A7A7;
    --fc-100-hover:#F7F7F7; 
    


    /* Color Theme Swatches in RGBA */
/* .Vintage-pop-1-rgba { color: rgba(70, 65, 66, 1); }
.Vintage-pop-2-rgba { color: rgba(255, 198, 54, 1); }
.Vintage-pop-3-rgba { color: rgba(0, 172, 168, 1); }
.Vintage-pop-4-rgba { color: rgba(255, 255, 255, 1); }
.Vintage-pop-5-rgba { color: rgba(255, 100, 68, 1); } */   

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Montserrat; */
    /* font-family:Nunito; */
    /* font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: system-ui;
}

  
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-size: 1.2rem;
    height: 100%;
    overflow: hidden;
    /* padding: 10px;  */
    background-color: var(--bg-100);
  
  }
  li{
    text-decoration: none;
    list-style:none;
}
a{
    text-decoration: none;
    color: inherit;
    /* color: var(--oscuro--claro); */
}
a:active, a:active * { outline: none !important; }
a:focus, a:focus * { outline: none !important; }
.no-seleccionable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.mainContainer {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;


}

/* nav styles */
.mainContainer__Nav {
    width: var(--width--aside--desktop);
    height: 100%;
    background-color: var(--primary-100);
    /* background-color: #414b57; */

}

.Nav__Header {
    /* background-color: red; */
    height: var(--header-height);
    width: 100%;
    display: flex;
}

.Nav__Header__ImageContainer {
    width: 100%;
    height: 100%;
    /* background-color: var(--oscuro--claro); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.Nav__Header__ImageContainer__Img {
    height: 100%;
    object-fit: fill;
}

.Nav__Header__TitleContainer {
    width: 100%;
    /* background-color: aquamarine; */
    padding: 0.25rem 1.5rem;
}

.Nav__Header__TitleContainer__Title {

    width: 100%;
    height: 100%;
    text-wrap: pretty;
    vertical-align: middle;
    color: var(--fc-100-hover);

}

.Nav__Main {

    color: var(--oscuro--claro);
    width: 100%;
    height: calc(100% - var(--header-height));
    /* border-right: 1px solid var(--oscuro--claro); */
}

.Nav__Main__Section {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0 1rem;
    overflow-y: scroll;
    /* scrollbar-width: calc(13px); */
    /* scrollbar-color: red black; */
    /* scrollbar-width: 1px; */
}


.Nav__Main__Section::-webkit-scrollbar {
    width: 4px;
    
}

.Nav__Main__Section::-webkit-scrollbar-thumb {
    background-color:#ECECED;
     /* #2f4f7d7e; */
    border-radius: 2px;
}

    .Nav__Main__Section::-webkit-scrollbar-thumb:hover {
        background: #C3C3C3;
         
    }


.Section__Menu {
    width: 100%;
    /* background-color: red; */

}

.Menu__Item {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color:var(--fc-100);
    display: flex;
    flex-direction: column;
}

.Sub__Menu__Item{
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color:var(--fc-100);
    display: flex;
    flex-direction: column;

    /* padding: 0.7rem 0.35rem; */
    display: flex;
    border-radius: var(--br--100);
    margin-bottom: 0.35rem;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--primary-100);


}

.Menu_Item_Submenu.open {
    grid-template-rows: 1fr;
    margin-top: 1rem;
}

.Menu_Item_Submenu {
    background-color: var(--bg-300);
    border-radius: var(--br--100);
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    padding: 0 0.35rem;
    transition: grid-template-rows 0.5s, margin-top 0.5s;
}
.Sub__Menu__Item__Title {
    width: 100%;

    
    padding: 1rem 0.5rem;
    border-radius: var(--br--100);
    gap: 0 1rem;
    pointer-events: none;
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto 10px;
}
/* .Menu__Item > a{
color: ;
} */

.Menu__Item:hover {

    background-color: var(--primary-100-hover);
    color:var(--fc-100-hover);
    border-radius: 0.3rem;
}

/* .dropdown:has() */
/* .Menu__Item:hover:has(> .seleccionando) { */
    .Menu__Item:hover:has(> .open) {
    background-color: transparent;
    /* color: #0C0C0C; */

    /* styles for div elements that have the class "myClass" */
}



.Menu__Item__Title {
    width: 100%;

    
    padding: 1rem 0.5rem;
    border-radius: var(--br--100);
    gap: 0 1rem;
    pointer-events: none;
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto 10px;
}
/* 
.Menu__Item__Title:hover {
    color: var(--oscuro--oscuro);
    background-color: var(--bg-300);

} */

.Menu__Item__Title__sub {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    /* Start at 0 degrees*/
    transition: transform 0.5s ease;
}

/* .fa-rotate-90 */


.seleccionando {
    /* background-color: var(--primary-200); */
    background-color: var(--primary-100-hover);
    color:var(--fc-100-hover);

}

.seleccionando:hover {
    /* background-color: var(--primary-200); */
    background-color: var(--primary-100-hover);
    color:var(--fc-100-hover);
}
.Menu__Item__Submenu {
    background-color: var(--bg-300);
    border-radius: var(--br--100);
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    padding: 0 0.35rem;
    transition: grid-template-rows 0.5s, margin-top 0.5s;
}


.Menu__Item__Submenu.open{
    grid-template-rows: 1fr;
    margin-top: 1rem;
}




.Submenu__Header {
    padding: 0.7rem 0.35rem;
    color: var(--primary-100);
    border-bottom: 1px solid rgba(5, 6, 15, .1);
}

.Submenu__Item {
    /* padding: 0.7rem 0.35rem; */
    display: flex;
    border-radius: var(--br--100);
    margin-bottom: 0.35rem;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--primary-100);
}

.Submenu__Item:hover {
    background-color: var(--bg-100);
    color: #000000

    /* color: red; */
}

.Submenu__Item__a {
    padding: 0.7rem 0.35rem;
    width: 100%;
    display: flex;
    gap: 1rem;

}

.c_rotateIcon {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: rotateIcon ; */
    /* animation: rotateIcon 0.5s ease; */
    transform: rotate(90deg);
    /* Start at 0 degrees*/
    transition: transform 0.5s ease;

}

@keyframes rotateIcon {
    100% {
        transform: rotate(90deg);
    }

    /* 0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(90deg);
            } */
}

@keyframes fade-out {
    100% {
        opacity: 0;
        display: none;
    }
}







  /*end nav styles*/

  .toggleIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
  }
/* stylos del section */

  .mainContainer__Section{
      width: 100%;
      height: 100%;
      /* background-color: burlywood; */
  }


  .mainContainer__Section__Header{
      width: 100%;
      height: var(--header-height);
      /* background-color: #414b57; */
      /* background-color: var(--primary-100); */
      display: flex;
      border-bottom: 1px solid rgba(5, 6, 15, .1);
      justify-content: space-between;
  }
  .Header__Container__Img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconoUsuario{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
  }
  
  
  .mainContainer__Section__SubPage{
      background-color:var(--bg-200);
      width: 100%;
      height: calc(100% - 60px);
  }

.headerLogo_Menu{
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.09), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.09), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.011), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* height: 0;
    width: 0; */
    border-radius: var(--br--100);
    opacity: 0;
    padding: 75px 0.35rem 0;
    /* transition: height 0.5s, width 0.5s, opacity 0.5s, z-index 0.5s; */
    transition:opacity 0.3s, z-index 0.3s;
    /* animation: scale-down-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.headerLogo_Menu::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    background-color: var(--blanco);
    /* background-color: red; */
    z-index: -1;
    right: 1.6rem;
    top: -0.75rem;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0 0 1px;
}
.Menu_Lista {
    min-height: 0;
    max-width: 300px;
    min-width: 280px;
    position: relative;
    right: 2%;
    /* top: 10%; */
    background-color: var(--bg-100);
    /* box-shadow: rgba(58, 53, 65, 0.2) 0px 5px 5px -3px, rgba(58, 53, 65, 0.14) 0px 8px 10px 1px, rgba(58, 53, 65, 0.12) 0px 3px 14px 2px; */
    box-shadow: 0px 0px 9px 1px rgb(51 51 51 / 1);
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
}
.mostrar{

    z-index: 12323;
    opacity: 1;
/* height: 100%;
width: 100%; */

/* animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */

}


@keyframes scale-down-tr {
    0% {
      transform: scale(1);
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      transform: scale(0);
      transform-origin: 100% 0%;
      opacity: 0;
    }
  }
  @keyframes scale-up-tr {
    0% {
        opacity: 0;
      transform: scale(0);
      transform-origin: 100% 0%;
    }
    100% {
        opacity: 1;
      transform: scale(1);
      transform-origin: 100% 0%;
    }
  }
.item_info {
    /* background-color: #DDDDDD; */
    border-bottom: 1px solid;
    display: flex;
}

.item_infoImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.item_infoText_primaria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.item_infoText_secundaria {
    padding: 20px 10px;
}

.camposKey {
    font-weight: var(--font-weight-bold);
    font-size: 0.8rem;
}
.camposValue {
    /* margin-left: 20px; */
    font-size: 0.8rem;
}


.item_opc {
    overflow: auto;
    /* padding: 20px 10px; */
    height: 8rem;
}
.navLinksItems_item_opc {
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
}
.navLinksItems_A_icons_item_opc {
    padding: 0 0.2rem;
}
.navLinksItems_A_Letter_item_opc {
    font-weight: 600;
    text-decoration: none;
    color: var(--body-color);
}

.item_button {
    padding: 0.5rem 0;
}
.item_button_button {
    background-color: #f5f7fa;
    border: none;
    padding: 0.625rem 1.5rem;
    border: 1px solid #e3e6ed;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--redonde-botones);
}
.item_button_button:hover {
    background-color: #E3E6ED;
}   



.aside__Hiden{
    display: none;
    
}



@media ( width < 720px) {
    .Menu__Item__Submenu{
        width: var(--width--aside--desktop);
        position: absolute;
        transform: translate(calc(var(--width-aside--tablet) + 1.5rem), 0px);
    }
    /* .open {
        width: var(--width--aside--desktop);
        position: absolute;
        transform: translate(calc(var(--width-aside--tablet) + 0.5rem), 0);
    } */
    .Nav__Main__Section{
        padding: 0.5rem  0.3rem 0 0.3rem;
    }

    .mainContainer__Nav{
        width: calc(var(--width-aside--tablet) + 1rem );
    }
 
    .Menu__Item__Title__sub {
        display: none;
    }
    .Menu__Item__Title {
        display: flex;
        flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.85rem;

    }
    .Nav__Header__TitleContainer{
        display: none;
    }
    .Nav__Header__ImageContainer{
        width: 100%;
    }
    .Nav__Header__ImageContainer__Img{
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        padding: 0.5rem;
    }


 
    /* .Menu__Item {
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
     
        display: flex;
        flex-direction: column;
        position: relative;
    } */



}